<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <title>Trang chủ</title>
</head>
<body>

  <div id="header"></div>

  

  <div id="footer"></div>

  <script>
    function loadComponent(id, file) {
      fetch(file)
        .then(response => response.text())
        .then(data => {
          document.getElementById(id).innerHTML = data;
        });
    }

    loadComponent("header", "includes/header.html");
    loadComponent("footer", "includes/footer.html");
  </script>

</body>
</html>
